.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  height: 100%;
}

.footer {
  display: flex;
  flex: 0;
  padding: 1.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #666;
}

.results {
  width: 85%;
  max-width: 2000px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
  /* Make sure results take up available space */
  min-height: 60vh;
}

.results h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.success {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 12px;
  align-self: center;
  background-color: #e3ffe3;
  animation: successPulse 1.2s 2 ease-in-out;
}

@keyframes successPulse {
  0% {
    background-color: #e3ffe3;
  }
  50% {
    background-color: #fff5c2;
  }
  100% {
    background-color: #e3ffe3;
  }
}

.success p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #28a745;
  animation: textPulse 1.2s 2 ease-in-out;
}

@keyframes textPulse {
  0% {
    color: #28a745;
  }
  50% {
    color: #ffe01b;
  }
  100% {
    color: #28a745;
  }
}

.fadeOut {
  animation: fadeOut 0.2s forwards ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.error {
  text-align: center;
  width: 90%;
  max-width: 2000px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #ffeaea;
  border-radius: 8px;
  color: #dc3545;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .results {
    padding: 0 1rem;
  }
}
